/* Button styling */


.btn{
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn.menu{
    background-color: $sidebar-color;    
    color: $sidebar-text;
    &:hover{
        color: $sidebar-color;
        background-color: $sidebar-text;
    }
}

.profile-name, .headerBtn{
    border: none;
    background: none;
    cursor: pointer;
    color: $headerBtn;
    font-size: 20px;
    font-weight: 900;
}
.profile-name{
    color: $headerProfName;
    font-size: 24px;
}

.btn-text{
    margin-left: 10px;
    font-size: 12px;
}

.btn.headerBtn{
    background-color: $additional-color;
    border-radius: 20px;
    width: 5rem;
    height: 2rem;
    font-weight: bold;
    font-size: 1rem;
    padding: 0;
    &:hover{
        color: $sidebar-text;
        background-color: $btnHoverColor;
        border: 3px solid black;
    }
}

.cardBtn{
    border: none;
    padding: 4px;
    font-size: 16px;
    cursor: pointer;
    background-color: $card;
    &:hover{
        background-color: $header-color;
    }
}