/* Main-content */


.main-content{
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    background-color: $main-content-color;
    color: $card-text;
}
.projects-container{
    display: flex;
    flex-direction: column;
}
.title{
    color: $sidebar-color;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: $projects;
}
.card{
    border: 1px solid red;
}
.card p{
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
}