*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto Condensed', sans-serif;
}

$sidebar-color: white;
$sidebar-text: #0B0C10;
$header-color: #66fcf1;
$card-side: #66fcf1;
$additional-color: #0B0C10;
$btnHoverColor: #ef476f;
$card: #ef476f;
$headerBtn: #edf5e1;
$headerProfName: #0B0C10;

// black #0B0C10;
// blue #66fcf1;
// red #ef476f;
// white