*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto Condensed', sans-serif;
}

/* Sidebar */
.sidebar {
  grid-row: 1 / -1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 10px;
  background-color: white;
}

.sidebar-main-menu,
.sidebar-miscellaneous-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1%;
  margin-top: 10%;
}

.sidebar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 55px;
  width: 100%;
  padding: 5px;
  gap: 10px;
}

.sidebar-icon img {
  height: 100%;
}

.sidebar-header .sidebar-title {
  line-height: 100%;
  font-size: 36px;
  font-weight: 700;
  color: #0B0C10;
  text-shadow: 2px 2px black;
}

/* Main-content */
.main-content {
  grid-row: 2 / -1;
  grid-column: 2 / -1;
  color: #0B0C10;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  border-top: 2px solid black;
}

.main-content .projects-container {
  background-color: #0B0C10;
  padding: 20px;
}

.main-content .projects-container .projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 90%;
}

.main-content .projects-container .projects .card {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #ef476f;
  border-radius: 20px;
  border-left: 10px solid #66fcf1;
}

.main-content .projects-container .projects .card p {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
}

.main-content .projects-container .projects .card .card-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
}

.main-content .announcements-and-trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0B0C10;
}

.main-content .announcements-and-trending .announcements-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 80%;
  margin: 0 auto;
}

.main-content .announcements-and-trending .announcements-container .title {
  text-align: center;
}

.main-content .announcements-and-trending .announcements-container .announcements {
  padding: 10px;
  min-height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
}

.main-content .announcements-and-trending .announcements-container .announcements .announcement {
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18px;
}

.main-content .announcements-and-trending .announcements-container .announcements .announcement h3 {
  color: #ef476f;
}

.main-content .announcements-and-trending .announcements-container .announcements .announcement p {
  margin-top: 10px;
  font-weight: normal;
  font-size: 14px;
}

.main-content .announcements-and-trending .trending-container {
  background-color: #0B0C10;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-content .announcements-and-trending .trending-container .title {
  text-align: center;
}

.main-content .announcements-and-trending .trending-container .trending-topics {
  width: 80%;
  background-color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  border-radius: 30px;
}

.main-content .announcements-and-trending .trending-container .trending-topics .trending-topic {
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6fr;
      grid-template-columns: 1fr 6fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .announcements-and-trending .trending-container .trending-topics .trending-topic img {
  border: 5px solid #66fcf1;
  height: 50px;
  background-color: #ef476f;
  border-radius: 50%;
}

.title {
  color: white;
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}

/* Header */
.header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  grid-column: 2 / -1;
  background-color: #66fcf1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 2fr;
      grid-template-columns: 4fr 2fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  padding: 20px;
}

.header .upper-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

label img {
  height: 2rem;
  margin-right: 20px;
}

.header .upper-right {
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: center;
      align-self: center;
  height: 50px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.upper-right img {
  background-color: #0B0C10;
  border: 3px solid black;
  border-radius: 50%;
  margin-right: 10px;
}

.header .lower-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 80px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.lower-left img {
  border: 3px solid black;
  background-color: #0B0C10;
  border-radius: 50%;
  margin-right: 20px;
}

.lower-left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.name {
  font-size: 1.5rem;
  text-shadow: 1px 0 black;
}

.header .lower-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin-right: 20%;
}

/* Button styling */
.btn {
  border: none;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
}

.btn.menu {
  background-color: white;
  color: #0B0C10;
}

.btn.menu:hover {
  color: #66fcf1;
  background-color: #0B0C10;
  border: 3px solid #ef476f;
}

.profile-name, .headerBtn {
  border: none;
  background: none;
  cursor: pointer;
  color: #edf5e1;
  font-size: 20px;
  font-weight: 900;
}

.profile-name {
  color: #0B0C10;
  font-size: 24px;
}

.btn-text {
  margin-left: 10px;
  font-size: 12px;
}

.btn.headerBtn {
  background-color: #0B0C10;
  border-radius: 20px;
  width: 5rem;
  height: 2rem;
  font-weight: bold;
  font-size: 1rem;
  padding: 0;
}

.btn.headerBtn:hover {
  color: #0B0C10;
  background-color: #ef476f;
  border: 3px solid black;
}

.cardBtn {
  border: none;
  padding: 4px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ef476f;
}

.cardBtn:hover {
  background-color: #66fcf1;
}

/* Main sections */
.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 7fr;
      grid-template-columns: 1fr 7fr;
  -ms-grid-rows: 1fr 5fr;
      grid-template-rows: 1fr 5fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-height: 100vh;
  max-width: 100vw;
}

/* Input styling */
input[type="search"] {
  padding: 10px;
  width: 100%;
  height: 2rem;
  border-radius: 15px;
}
/*# sourceMappingURL=style-refactored.css.map */