/* Button styling */


.btn{
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
}
.btn.menu{
    background-color: white;    
    color: black;
    text-shadow: 0 0 5px white;
}

.btn.menu:hover{
    background-color: var(--header-color);
    border: 3px solid black;
}

.profile-name, .headerBtn{
    border: none;
    background: none;
    cursor: pointer;
    color: black;
    font-size: 20px;
    font-weight: 900;
}

.headerBtn{
    background-color: var(--additional-color);
    border-radius: 20px;
    width: 5rem;
    height: 2rem;
    font-weight: bold;
    font-size: 1rem;
}